body { 
    background: rgba(134,174,204,1);
    background: -moz-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 39%, rgba(212,228,239,1) 84%, rgba(212,228,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,174,204,1)), color-stop(39%, rgba(212,228,239,1)), color-stop(84%, rgba(212,228,239,1)), color-stop(100%, rgba(212,228,239,1)));
    background: -webkit-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 39%, rgba(212,228,239,1) 84%, rgba(212,228,239,1) 100%);
    background: -o-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 39%, rgba(212,228,239,1) 84%, rgba(212,228,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 39%, rgba(212,228,239,1) 84%, rgba(212,228,239,1) 100%);
    background: linear-gradient(to right, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 39%, rgba(212,228,239,1) 84%, rgba(212,228,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=1 );

}
#T_principal {
    text-align: center;
    color: rgb(26, 16, 160);
    font-size: 400% ;
}

#login{
    background-color: black;
    color: chartreuse;
    text-decoration-color: darkblue;
}