
div.btn{
    border: 0px solid #000000;
    position: relative;
    margin: auto;
    left: 7%;
    width: 100px;
}
div.select{
    border: 0px solid #000000;
    position: relative;
    margin: auto;
    left: 15%;
    width: 105px;
}
div.btext{
    border: 0px solid #000000;
    position: relative;
    margin: auto;
    WIDTH: 400px;
    height: 40px;
    left: 24%;
}
h1.titulo{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: auto;
  color: #ffffff;
} 
select.selector{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff;
  margin: auto;
  font-size: 30px;  
  overflow: hidden;
  text-align: center; 
  color:  #000000;
  background: rgb(255, 255, 255); 
  padding: 0; 
  border-radius: 5px 5px 5px 5px; 
  border: 0px solid #000000;
}
.boxtext{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #000000;
    text-align: center; 
    WIDTH: 400px;
    height: 40px;
    border-radius: 5px 5px 5px 5px; 
}
table.table{
  text-align: center;
}