h1.titulo{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  font-size: auto;
  color: #ffffff;
}
h2.casillas{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  text-align: center;
}
div.izquierda {
  float: left;
  max-width: max-content;
  margin: auto;
  border: 1px solid rgba(120, 162, 218, 0.678);
  align-content: center;
  color: #ffffff;
}
div.centro {
  max-width: 0%;
  margin: auto;
  border: 1px solid rgba(212, 18, 18, 0.877);
  align-content: center;
}
div.derecha {
  float: right;
 
  border: 0px solid rgba(102, 99, 91, 0.678);
  
}
.busqueda{
  align-items: center;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff;
  margin: auto;
  font-size: 40px;  
  overflow: hidden;
  text-align: center; 
  color:  #ffffff;
  background: rgb(255, 255, 255); 
  padding: 0; 
  border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px; 
  -webkit-border-radius: 5px 5px 5px 5px; 
  border: 0.5px solid rgba(0, 0, 0, 0.856)
}
.btn {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 30px; 
  background-color: rgb(255, 255, 255); 
  color: rgb(250, 245, 245); 
  border: 1px solid rgba(250, 0, 42, 0.589);
  border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px; 
  -webkit-border-radius: 5px 5px 5px 5px;
  margin: auto; 
  font-weight: 300;
}
.selector{
  align-items: center;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff;
  margin: 0 0 0 1%;
  font-size: 25px;  
  overflow: hidden;
  text-align: center; 
  color:  #000000;
  background: rgb(255, 255, 255); 
  padding: 0; 
  border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px; 
  -webkit-border-radius: 5px 5px 5px 5px; 
  border: 0px solid #000000;
}
.table{
  text-align: center;
}


